/* Estilos para la sección de recetas */
.recipes-section {
    text-align: center;
    background-color: #050505;
    padding: 1.25rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.section-header h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #fafafa;
}

.section-header a {
    font-size: 1rem;
    text-decoration: none;
    color: #fafafa;
}






/* Estilos para las tarjetas de recetas */
.recipe-cards {
    display: flex;
    justify-content: space-between;
    
}

.recipe-card {
    width: 75%; 
    margin-bottom: 1.25rem;
    background-color: #1e1b1b;
    border: 0,0.3125rem solid #000000;
    padding: 0.625rem;
    text-align: start;
}

.recipe-card img {
    width: 15.625rem;
}

.recipe-card h3 {
    font-size: 1.125rem;
    margin: 0.625rem 0;
}

.recipe-card h3 a {
    text-decoration: none;
    color: #fafafa;
}

.recipe-card h3 a:hover {
    text-decoration: underline;
    color: #1e1b1b;
}
