/* Estilos para la barra de navegación */
nav {
    background-color: #1e1b1b; 
    color: #fafafa;
    padding: 0.625rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fafafa;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 1.25rem;
}

.navbar li a {
    text-decoration: none;
    color: #fafafa;
    font-weight: bold;
    font-size: 1rem;
}

.navbar-icons {
    display: flex;
    gap: 1.875rem;
    align-items: center;
}

.search-icon,
.cart-icon {
    width: 1.5rem;
}
#search,
#shop{
    color: #a16236;
}

.login-register a {
    text-decoration: none;
    color: #fafafa;
    font-weight: bold;
    font-size: 1rem;
}

