.info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: #050505;
    color: #fafafa;
}

.info-text {
    flex: 1;
}

.info-text h2 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

.info-text p {
    font-size: 1rem;
}

.info-image img {
    width: auto;
}

/*suscribirse section*/

.subscribe-section {
    background-color: #a16236; 
    padding: 1.25rem;
}

.subscribe-section h3 {
    font-size: 1.5rem;
    color: #fafafa;
}

form {
    width: 46.875rem;
    gap: 1.5625rem;
}
.subscription-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form-group {
    flex: 1; 
    text-align: center;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 0.625rem;
    font-size: 1rem;
    border: 0.0625rem solid #a16236;
    border-radius: 0.3125rem;
}

button {
    background-color: #f3a447; 
    color: #1e1b1b;
    font-size: 1rem;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    flex: 1;
}
#info-section{
    background-color: #1e1b1b;
    color: #a16236;
}